.header {
    color: aquamarine;
    height: 100px;
    display:flex;
    justify-content: space-between;
}
.header > div {
    margin: 10px;
}
.mogalogo{
    height: 60px;
    width: 60px;
}
.searchBar {
    background-color: rgb(200, 245, 230);
    height: 40px;
    flex:1;
    display: flex;
    border-radius: 50px;
    align-items: center;
}
.searchIcon{
    height: 50px;
    width: 50px;
}

.searchInput{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 25px;
    outline:none;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
    color: rgb(17, 16, 14);
    font-size: 16px;
}
.headerItems{
    display: flex;
    color: aquamarine;    
}
.headerItems > p{
    margin: 10px;
}
.headerActions{
    display: flex;
    align-items: center;
}

.headerActions > div {
    margin: 10px;
}
.themeSwitchContainer{
   object-fit: contain;
   
}

.themeSwitch{
    height: 30px;
    margin-bottom: 30px;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 2px;
}
.loginBtn{
    height: 30px;
    width: 75px;
    margin-top: 9px;
    background-color: aquamarine;
    border-radius: 10px;
    font-size: 16px;
}
